<div
    id="fab-container"
    class="fixed bottom-6 right-6 z-50 flex flex-col-reverse items-end gap-3">
    <!-- FAB ボタン -->
    <button
        id="fab-button"
        type="button"
        class="w-14 h-14 rounded-full bg-gray-900 text-white shadow-xl flex items-center justify-center"
    >
        <%= image_tag "kani.png", alt: "menu", class: "w-10 h-10 object-contain" %>
    </button>

    <!-- メニュー（FABの上に出る） -->
    <div
        id="fab-menu"
        class="hidden flex flex-col bg-gray-900 text-white rounded-xl p-4 shadow-xl space-y-3"
    >
        <%= link_to "対戦相手一覧", users_index_path, class: "hover:text-gray-300" %>
        <% if current_user %>
        <%= link_to "マイページ", user_path(current_user), class: "hover:text-gray-300" %>
        <% else %>
        <%= link_to "ログイン", login_path, class: "hover:text-gray-300" %>
        <% end %>
        <%= link_to "ランキング", weekly_ranking_users_path, class: "hover:text-gray-300" %>
    </div>
</div>
