<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-20">
        <div class="flex items-center">
            <%= link_to root_path, class: "text-white text-xl font-bold hover:text-gray-300" do %>
            🦀 KANIDAN POKER 🦀
            <% end %>
        </div>

        <div class="flex items-center space-x-4">
            <%= link_to "対戦相手一覧", users_index_path, class: "text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium" %>
            <% if current_user %>
            <%= link_to "マイページ", user_path(current_user), class: "text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium" %>
        <% else %>
            <%= link_to "ログイン", login_path, class: "text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium" %>
        <% end %>
            <%= link_to "ランキング", weekly_ranking_users_path, class: "text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium"%>
        </div>
    </div>
</div>