<h1>バトル結果</h1>

<div class="battle-result">
  <br><p><%= @battle.user.display_name %> : <%= @battle.user_card %></p>

  <p>VS</p>

  <p><%= @battle.opponent.display_name %> : <%= @battle.opponent_card %></p>

  <h2>結果: <%= @battle.winner.display_name %>の勝利！</h2>

  <br>
  <%= link_to "もう一度対戦", new_battle_path(opponent_id: @battle.opponent.id) %>
        <%= link_to "対戦相手一覧に戻る", users_path %>
</div>